<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
	<title>Forms</title>
	<script src="vendor/angular/angular.js"></script>
	<script src="vendor/ng-wig/dist/ng-wig.js"></script>
	<link href="vendor/ng-wig/dist/css/ng-wig.css" rel="stylesheet" />
    <link href="vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="vendor/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
	<script>
		angular.module("exampleApp", ['ngWig'])
		.controller("defaultCtrl", function ($scope) {
			$scope.todos = [
				{ id: 100, place: "Store", action: "Get groceries", complete: false },
				{ id: 200, place: "Home", action: "Call plumber", complete: false },
				{ id: 300, place: "Store", action: "Buy running shoes", complete: true }];
		});
	</script>
	<style>		
		form.validate .ng-invalid-required.ng-dirty { background-color: lightpink; }
		form.validate .ng-invalid-email.ng-dirty {background-color: lightgoldenrodyellow; }
		div.error { color: red; font-weight: bold; }
	</style>
</head>
	<body ng-cloak>
		<div id="todoPanel" class="panel" ng-controller="defaultCtrl">
			<form name="myForm" novalidate>
				<div class="well">
				<div class="form-group">
				<label>Select an Action:</label>
				<select ng-model="selectValue" ng-options="item.id as item.action group by item.place for item in todos">
					<option value="">(Pick One)</option>
				</select>
				<select ng-model="takeMe">
					<option value="">(Pick One)</option>
					<option ng-repeat="item in todos" value="{{item}}">
						{{item.action}}
					</option>
				</select>
				</div>
				</div>
				 
				<div class="well">
					<p>Selected: {{selectValue || 'None'}}</p>
					<p>Selected: {{takeMe || 'None'}}</p>
				</div>
			</form>
		</div>
	</body>
</html>