<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>Directives</title>
    <script src="vendor/angular/angular.js"></script>
    <link href="vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="vendor/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
   <script>
        angular.module('exampleApp',[])
            .controller('defaultCtrl',['$scope',function($scope){
               $scope.username = 'unknown';
               $scope.friends = [];
               $scope.$watch('username', function(newValue, oldValue) {

               })
            }])
            .directive('friends', function(){
                return {
                    restrict: 'E',
                    replace: true,
                    require:'ngModel',
                    scope: {
                        friends: '@data'
                    },                   
                    link: function(scope, element, attrs, ngModelController) {
                       
                        ngModelController.$render = function() {
                            console.info(ngModelController.$viewValue);

                        }
                        console.log(scope.friends);
                        scope.addFriend = function() {
                            console.log('tes us us');
                            //scope.friends.push(scope.friend);
                            //scope.friend = '';
                        }
                    }
                }
            });
            
            
    </script>
</head>
<body>
    <div class="container">
        <div class="panel">
            <div ng-controller="defaultCtrl">
                <form name="myForm" novalidate>
                    <label>Username:</label>
                    <input type="text" required name="username" ng-model="username" />
                    <label>Friends:</label>
                    <friends data="{{friends}}" ng-model="username">
                        <input type="text" name="friends" ng-model="friend" />
                        <input type="button" value="Add" ng-click="addFriend()" />
                    </friends>
                </form>
                <ul>
                    <li ng-repeat="friend in friends">
                        {{friend}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>